body {
  color: #444;
  background-image: url(CSSclassFiles/img/background.gif);
  font-family: Garamond, Serif;
}

#main_content {

  margin: 0px auto;
  width: 900px;
  
  background-color: AliceBlue;
  box-shadow: 5px 5px 20px #000;
  -webkit-box-shadow: 5px 5px 20px #000;
  position:relative;
}

#content {
	margin: 1em 2.5em;
	padding-bottom: 2em;
	

}

nav ul li {
	
	display:inline-block;
	margin: .2em .3em;
	font-weight:bold;

	border-bottom: .1em navy solid;
	list-style-type: none;
}
a:link {
	color:brown;
	style:none;
	text-decoration:none;

}
a:visited {
	color:brown;
}
a:hover {

}