html {
	
	background: url("forbiddenCity.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
	background:#CCCCCC
}

body {
/*	
	background: url("stairs_1024.jpg") top right no-repeat; 
	background-position: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
*/	
	margin:0;
	padding:0;
}
body h4 {

		font-size: 25px;
		font-weight: bold;
		color: #3399999;
		text-align: center;
		margin-top: 1%;
		padding: 0;
		margin-bottom: 3%;
/*		border: 1px solid grey; */
}
body h4:hover{
		color:#009999;

}	
body p {
		margin-top: 1.5em;
		font-family: Impact;
		color: Darkblue;
/*		border: 1px solid blue; */
}
.my_page {
}

/******Main Content, Wrapper ****/
.my_page #wrapper {
	width: 1024px;
	margin: 0 10em;
	border:3px solid black;


}

/*** the middle of the page, "welcome" content**/
#welcome {
		text-align: center;
		color: #0066CC;
		font-size: 1.5em;
}
/***Box that contains all the different sections of links**/
.my_page #linkzone {
}
/** the topic box of each section **/
.topicLink {
		width: 21.0em;
		float:left;
		padding: .8em 0 0 0;
		margin: .5em 0 0 0;
/*		border: 1px navy solid; /***/
		background-color: #666666;
		margin-left:.5%;
}
/**animate the Topic Titles when hovered **/
.topicLink p:hover {
	background-color:whitesmoke;

}
/****styles of each topic title **/
.topicLink p {
		width: 8.5em;
		color:#663333;
		border: 1px black solid;
		font-family:impact, arial;
		margin: 1em 2em;
		padding: .5em;
		font-weight: normal;
		border-radius: 7%;	
		background-color:#CCCCCC;
}
p  {
		text-align:center;
		font-size: 1.5em;
		color: #333300;
}
#linkzone ul {
/*		border:1px yellow solid; */
		text-align:center;
		margin:auto;
		padding:0;
}
ul li {
	 border:1.5px black solid; /**/
	 background-color: #F3E5AB;
	 color: #000033;
	 list-style:none;
	 
	 padding: .4em 0;
	 margin: .3em 5em;
	 
	 border-radius: 8%;
	 -moz-border-radius: 10%;
	 -webkit-border-radius: 10%;
	 border: 1px ridge #800000;
	

}
nav ul {
		margin:auto;
		padding: 3em 0 0 0;
		clear: both;
		text-align: center;
		
}

/**** the links in the near bottom **/
nav ul li {	

		border:2px #003333 solid;
		border-radius: 10%;			

		margin:0 .25em;
		padding: 0 1em;
		
		font-weight: bold;
		font-size: 1.3em;
		font-variant: small-caps;		
		display:inline-block;
		
		color:#0066FF;
		background-color: #CCCFFF;
}
	
nav {
}
span {
	  font-size: 30px;
}

#bottom_links{

}
footer{
/*		border: 1px solid red; */
		padding: 1em 0;
		clear: both;
		color: #000003;
		text-align: center;
		font-style: italic;
}