html {
	
	background: url("blueIsland.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
	

}

body {
/*	
	background: url("stairs_1024.jpg") top right no-repeat; 
	background-position: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
*/	

	margin:0;
	padding:0;
	margin-top: 2em;
}
body h4 {

		font-size: 25px;
		font-weight: bold;
		color: #3399999;
		text-align: center;
		
		margin-top: 1%;
		padding: 0;
		margin-bottom: 3%;
/*		border: 1px solid grey; */
}
body h4:hover{
		color:#009999;

}	
	body p {
			margin-top: 1.5em;
			font-family: Impact;
			color: Darkblue;
	/*		border: 1px solid blue; */
	}
.my_page {
/*	border: 2px dashed red; */
}

/******Main Content, Wrapper ****/
.my_page #wrapper {
	width: 1055px;
	height: 540px;
	margin: auto;
	
	border-top:2px solid black;
	/*background-color:#999999;
	/***/
	background-color: transparent;
	
	-webkit-box-shadow: 0 8px 8px -2px black;
	   -moz-box-shadow: 0 8px 8px -2px black;
			box-shadow: 0 8px 8px -2px black;

}

/*** the middle of the page, "welcome" content**/
	#welcome {
			text-align: center;
			color: #0066CC;
			font-size: 1.5em;
	}
/***Box that contains all the different sections of topics**/
.my_page #linkzone {
		margin-top: 1em;
		margin-left: 1em;
}
/** the topic box of each section **/
	.topicLink {
			border: 2px white solid; /***/
			width: 21.0em;
			float:left;
			padding: .4em 0 .6em 0;
			margin: auto;
			margin:.05%;
			
			-webkit-box-shadow: 2px 2px 9px 3px black;
		       -moz-box-shadow: 2px 2px 9px 3px black;
			        box-shadow: 2px 2px 9px 3px black;
	}
	
/**animate the Topic Titles when hovered **/
	.topicLink p:hover {
		background-color:beige;
		color:black;
	}
/***Styles of each topic title **/
	.topicLink p {
			width: 8.5em;
			border: .1em navy solid;
			font-family:impact, arial;
			font-weight: normal;
			
			margin: 1em 2em;
			padding: .5em;
			border-radius: 0%;	
		
			color: navy;
			background-color:#99CCCC; /* light bluish color */
			
			-webkit-box-shadow: 3px 4px -10px 1px grey;
		       -moz-box-shadow: 3px 4px -10px 1px grey;
			        box-shadow: 3px 4px -10px 1px grey;
	}
p  {
		text-align:center;
		font-size: 1.5em;
		color: #333300;
}
/**Center the each individual links below the Topic **/
#linkzone ul {
/*		border:1px yellow solid; */
		text-align:center;
		margin:auto;
		padding:0;
}
/*** Links within each Topic ***/
	ul li {
		border: .14em black solid; /**/
		background-color: #F3E5AB; /*Creamish color*/
		color: #000033; /*dark grey text color*/
		list-style:none;
	 
		padding: .4em 0;
		margin: .3em 5em;
	
		-webkit-box-shadow: 3px 4px 24px 1px grey;
		   -moz-box-shadow: 3px 4px 24px 1px grey;
			    box-shadow: 3px 4px 24px 1px grey;
	}
/** Animate each little links located below the Topic **/
	ul li:hover{
		background-color: #3366FF; /**Dark Blue**/
		color: whitesmoke;
		font-weight: bold;
	}
	nav ul {
			margin:auto;
			padding: 3em 0 0 0;
			clear: both;
			text-align: center;
	}

/**** the three links in the near bottom **/
nav ul li {	

		border:2px #003333 solid;
		border-radius: 10%;			

		margin: .5em 0 .25em .25em;
		padding: 0 1em;
		
		font-weight: bold;
		font-size: 1.3em;
		font-variant: small-caps;		
		display:inline-block;
		
		color:#0066FF;
		background-color: #CCCFFF; 
}
a {
	 text-decoration: none;
	 outline:0;
	 
}
/* A.visted, A.visited, A.hover..etc "A pseudo classes" */

/** All Rights Reserved. **/	
footer{
/*		border: 1px solid red; */
		padding: 1em 0;
		clear: both;
		
		color: #CCCCCC; /**light gray */
		text-align: center;
		font-style: italic;
}