html {
	
	background: url("forbiddenCity.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
	
	background:#333333
}

body {
/*	
	background: url("stairs_1024.jpg") top right no-repeat; 
	background-position: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
*/	
	margin:0;
	padding:0;
	margin-top: 4em;
}
body h4 {

		font-size: 25px;
		font-weight: bold;
		color: #3399999;
		text-align: center;
		
		margin-top: 1%;
		padding: 0;
		margin-bottom: 3%;
/*		border: 1px solid grey; */
}
body h4:hover{
		color:#009999;

}	
	body p {
			margin-top: 1.5em;
			font-family: Impact;
			color: Darkblue;
	/*		border: 1px solid blue; */
	}
.my_page {
}

/******Main Content, Wrapper ****/
.my_page #wrapper {
	width: 1024px;
	height:720px;
/*	margin: 0 10em; */
	margin: auto;
	
	border:3px solid black;
	background-color:#999999;

}

/*** the middle of the page, "welcome" content**/
	#welcome {
			text-align: center;
			color: #0066CC;
			font-size: 1.5em;
	}
/***Box that contains all the different sections of topics**/
.my_page #linkzone {
		margin-top: 1em;
}
/** the topic box of each section **/
	.topicLink {
	/*		border: 1px navy solid; /***/

			width: 21.0em;
			float:left;
		
			padding: .8em 0 0 0;
			margin: .5em 0 0 0;
			margin-left:.5%;
	}
	
/**animate the Topic Titles when hovered **/
	.topicLink p:hover {
		background-color:#CCCCCC;
		color:black;
	}
/***Styles of each topic title **/
	.topicLink p {
			width: 8.5em;
			border: 1px black solid;
			font-family:impact, arial;
			font-weight: normal;
			
			margin: 1em 2em;
			padding: .5em;
			border-radius: 0%;	
		
			color: navy;
			background-color:#99CCCC;
	}
p  {
		text-align:center;
		font-size: 1.5em;
		color: #333300;
}
/**Center the each individual links below the Topic **/
#linkzone ul {
/*		border:1px yellow solid; */
		text-align:center;
		margin:auto;
		padding:0;
}
/*** Links within each Topic ***/
	ul li {
		border:1.5px black solid; /**/
		background-color: #F3E5AB;
		color: #000033;
		list-style:none;
	 
		padding: .4em 0;
		margin: .3em 5em;
	 
		border-radius: 10%;
		-moz-border-radius: 10%;
		-webkit-border-radius: 10%;
		border: 1px solid #800000;	
	}
/** Animate each little links located below the Topic **/
	ul li:hover{
		background-color: #3366FF;
		color: black;
		font-weight: bold;
	}
	nav ul {
			margin:auto;
			padding: 3em 0 0 0;
			clear: both;
			text-align: center;
	}

/**** the three links in the near bottom **/
nav ul li {	

		border:2px #003333 solid;
		border-radius: 10%;			

		margin: .5em 0 .25em .25em;
		padding: 0 1em;
		
		font-weight: bold;
		font-size: 1.3em;
		font-variant: small-caps;		
		display:inline-block;
		
		color:#0066FF;
		background-color: #CCCFFF;
}

/** All Rights Reserved. **/	
footer{
/*		border: 1px solid red; */
		padding: 1em 0;
		clear: both;
		
		color: #000003;
		text-align: center;
		font-style: italic;
}